<div class="sign-in">
  <div class="container">
    <!-- <h1>LOG IN</h1> -->
    <img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/58d2ee3f2a4e8.jpg" alt="Photo of a Shiba Inu"
      style="width:150px">
    <form>
      <div class="textbox">
        <input type="text" placeholder="username">
      </div>
      <div class="textbox">
        <input type="password" placeholder="password">
      </div>
      <input class="btn" type="submit">
    </form>
    <a class="hover-button" [routerLink]="['/forgot-password']">FORGOT PASSWORD ?</a>
    <a class="hover-button" [routerLink]="['/sign-up']">CREATE ACCOUNT</a>
  </div>
</div>
