mat-sidenav-container {
  background-color: #f1f3f6
}

mat-toolbar {
  height: 60px;
  position: fixed;
  margin-bottom: 5%;
  z-index: 1;
  padding: 10px;
}

.toolbar-filler {
  flex: 1 1 auto
}

.mat-sidenav {
  width: 300px;
}

.icon:hover {
  color: red;
}

.icon {
  font-size: 28px;
  transition: 0.4s all;
}

.search-icon {
  width: 40px;
  font-size: 26px;
  background: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  margin-right: 0px;
  margin-left: 0px;
  display: flex;

  input {
    width: 500px;
    color: #000;
  }
}
