mat-sidenav-container {
  background-color: #f1f3f6
}

.toolbar-filler {
  flex: 1 1 auto
}

.mat-sidenav {
  width: 300px;
}

.icon:hover {
  // transform: rotate(360deg);
  // -webkit-transform: rotate(360deg);
  // transition: all 1s ease;
  // -webkit-transition: all 01s ease;
  // -moz-transition: all 1s ease;
  // -o-transition: all 1s ease;
  // border-radius: 15px;
  // font-size: 42px;
  color: red;
}

.icon {
  font-size: 28px;
  transition: 0.4s all;
}

mat-toolbar {
  // position:relative;
  height: 70px;
  // box-shadow: 5px 5px 5px grey;
  display: flex;
  justify-content: space-evenly;
}

.search-icon {
  width: 40px;
  font-size: 26px;
  background: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  width: 70%;
  // box-shadow: 5px 5px 5px grey;

  input {
    width: 70%;
    // height: 10%;
    color: #000;
  }
}
