<div class="sign-in">
  <div class="sign-in__card">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <!-- <mat-card-title>Log in</mat-card-title> -->
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
        style="border-radius: 80%;padding: 60px">
      <mat-card-content>
        <form class="example-container" fxLayout="column" fxLayoutGap="20px">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn btn-primary">SIGN IN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
