<div class="forgot-password">
  <div class="container">
    <!-- <h1>LOG IN</h1> -->
    <img src="../../../assets/fly-wite.jpg" style="margin-left:20px;" height="250px" width="250px">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()" fxLayoutGap="20px">
      <div class="textbox">
        <input type="email" formControlName="email" placeholder="Enter email" required>
      </div>
      <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email') && !forgotPasswordForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <input class="btn" type="submit">
    </form>
    <a class="hover-button" [routerLink]="['/sign-up']">CREATE ACCOUNT</a>
  </div>
</div>
