<div class="forgot-password">
  <div class="container">
    <!-- <h1>SIGN UP</h1> -->
    <img src="../../../assets/fly-wite.jpg" style="margin-left:20px;" height="250px" width="250px">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" fxLayoutGap="20px">
      <div class="textbox">
        <input type="text" formControlName="firstName" placeholder="Enter first name">
      </div>
      <div class="textbox">
        <input type="test" formControlName="lastName" placeholder="Enter last name">
      </div>
      <div class="textbox">
        <input type="email" formControlName="email" placeholder="Enter email">
      </div>
      <div class="textbox">
        <input type="password" formControlName="password" placeholder="Enter password">
      </div>
      <div class="textbox">
        <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
      </div>
      <input class="btn" type="submit">
    </form>
    <a class="hover-button" [routerLink]="['/forgot-password']">FORGOT PASSWORD ?</a>
  </div>
</div>
