<div class="forgot-password">
  <div class="container">
    <!-- <h1>SIGN UP</h1> -->
    <img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/58d2ee3f2a4e8.jpg" alt="Photo of a Shiba Inu"
      style="width:150px">
    <form>
      <div class="textbox">
        <input type="text" placeholder="Enter first name">
      </div>
      <div class="textbox">
        <input type="test" placeholder="Enter last name">
      </div>
      <div class="textbox">
        <input type="email" placeholder="Enter email">
      </div>
      <div class="textbox">
        <input type="password" placeholder="Enter password">
      </div>
      <div class="textbox">
        <input type="password" placeholder="Confirm password">
      </div>
      <input class="btn" type="submit">
    </form>
    <a class="hover-button" [routerLink]="['/forgot-password']">FORGOT PASSWORD ?</a>
  </div>
</div>
