@font-face {
  font-family: 'Avenir Next';
  src: url(assets/fonts/483d8937-5e17-4378-9c51-aa91a3d9e1eb.eot);
  src: url(assets/fonts/483d8937-5e17-4378-9c51-aa91a3d9e1eb.eot?#iefix) format('eot');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(assets/fonts/ed4b9060-b5ab-4379-8840-0b50a15258b7.woff2) format('woff2'), url(assets/fonts/9b47db0b-77fb-4bb0-b5c2-3c131a36fc4d.woff) format('woff'), url(assets/fonts/9c8b7e5f-b3ca-435d-a197-b3dfeae277a1.ttf) format('truetype'), url(assets/fonts/0f72ee75-31c8-42ba-b262-3e13b83a8fdf.svg#0f72ee75-31c8-42ba-b262-3e13b83a8fdf) format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(assets/fonts/930383e5-36a7-4f9b-ba93-91da56426238.eot);
  src: url(assets/fonts/930383e5-36a7-4f9b-ba93-91da56426238.eot?#iefix) format('eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(assets/fonts/91e99835-1d11-4c71-af9b-aed2a94329e7.woff2) format('woff2'), url(assets/fonts/4952d2e1-e0c0-46ca-b32e-c24a5882c471.woff) format('woff'), url(assets/fonts/55e40b4b-6742-4cea-b87c-382b0c65d12d.ttf) format('truetype'), url(assets/fonts/6b307c95-616f-4c40-a4f9-ec7f15fe23c1.svg#6b307c95-616f-4c40-a4f9-ec7f15fe23c1) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(assets/fonts/6ff8ab07-ccb4-4a91-8f0f-2bd4367902e8.eot);
  src: url(assets/fonts/6ff8ab07-ccb4-4a91-8f0f-2bd4367902e8.eot?#iefix) format('eot');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(assets/fonts/91799b0e-0ef8-446e-b274-5509412e1242.woff2) format('woff2'), url(assets/fonts/97fb5311-bdbd-46bc-bf69-3bcf8c744cda.woff) format('woff'), url(assets/fonts/88093bd3-b377-4278-8abe-8460dd24d0e8.ttf) format('truetype'), url(assets/fonts/0fde1539-69df-4e3d-83ef-ae23d10dd2a5.svg#0fde1539-69df-4e3d-83ef-ae23d10dd2a5) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url(assets/fonts/AvenirNextLTPro-Bold.woff) format("woff"), url(assets/fonts/AvenirNextLTPro-Bold.ttf) format("truetype"), url(assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url(assets/fonts/AvenirNextLTPro-Regular.woff) format("woff"), url(assets/fonts/AvenirNextLTPro-Regular.ttf) format("truetype"), url(assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url(assets/fonts/AvenirNextLTPro-It.woff) format("woff"), url(assets/fonts/AvenirNextLTPro-It.ttf) format("truetype"), url(assets/fonts/AvenirNextLTPro-It.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}
