$mat-blue: (50 : #ecf7fc,
100 : #d1eaf8,
200 : #b2dcf3,
300 : #93ceee,
400 : #7bc4ea,
500 : #64b9e6,
600 : #5cb2e3,
700 : #52aadf,
800 : #48a2db,
900 : #3693d5,
A100 : #ffffff,
A200 : #ebf6ff,
A400 : #b8e0ff,
A700 : #9ed5ff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000));

$mat-light-grey: (50 : #fefdfd,
100 : #fbfbfa,
200 : #f9f8f7,
300 : #f7f5f3,
400 : #f5f2f1,
500 : #f3f0ee,
600 : #f1eeec,
700 : #efece9,
800 : #ede9e7,
900 : #eae5e2,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000));

$mat-dark-grey: (50 : #ebeaea,
100 : #cdcccb,
200 : #abaaa9,
300 : #898786,
400 : #706e6c,
500 : #575452,
600 : #4f4d4b,
700 : #464341,
800 : #3c3a38,
900 : #2c2928,
A100 : #f5aa85,
A200 : #f28a56,
A400 : #ff6315,
A700 : #fb5400,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #ffffff,
A200 : #000000,
A400 : #000000,
A700 : #ffffff));

$mat-burgundy: (50 : #f5e3e7,
100 : #e6bac3,
200 : #d58c9b,
300 : #c45e73,
400 : #b73c55,
500 : #aa1937,
600 : #a31631,
700 : #99122a,
800 : #900e23,
900 : #7f0816,
A100 : #ffaeb5,
A200 : #ff7b86,
A400 : #ff4857,
A700 : #ff2f40,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #ffffff));

$mat-red: (50 : #fce0e8,
100 : #f8b3c5,
200 : #f3809e,
300 : #ee4d77,
400 : #ea2659,
500 : #e6003c,
600 : #e30036,
700 : #df002e,
800 : #db0027,
900 : #d5001a,
A100 : #fffcfd,
A200 : #ffc9cd,
A400 : #ff969e,
A700 : #ff7d86,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000));

$mat-black: (50 : #e0e0e0,
100 : #b3b3b3,
200 : #808080,
300 : #4d4d4d,
400 : #262626,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #a6a6a6,
A200 : #8c8c8c,
A400 : #737373,
A700 : #666666,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #ffffff,
A700 : #ffffff));

$mat-green: (50 : #ecf7ec,
100 : #d0ebcf,
200 : #b1ddb0,
300 : #91cf90,
400 : #7ac578,
500 : #62bb60,
600 : #5ab558,
700 : #50ac4e,
800 : #46a444,
900 : #349633,
A100 : #e0ffe0,
A200 : #adffad,
A400 : #7bff7a,
A700 : #62ff60,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$mat-cian: (50 : #e0faf4,
100 : #b3f3e3,
200 : #80ecd1,
300 : #4de4be,
400 : #26deb0,
500 : #00d8a2,
600 : #00d49a,
700 : #00ce90,
800 : #00c886,
900 : #00bf75,
A100 : #e7fff5,
A200 : #b4ffde,
A400 : #81ffc8,
A700 : #68ffbc,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$mat-mild-grey: (50 : #fafafa,
100 : #f3f3f3,
200 : #ececec,
300 : #e4e4e4,
400 : #dedede,
500 : #d8d8d8,
600 : #d4d4d4,
700 : #cecece,
800 : #c8c8c8,
900 : #bfbfbf,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$mat-smoke-white: (50 : #fefefe,
100 : #fdfdfd,
200 : #fcfcfc,
300 : #fafafa,
400 : #f9f9f9,
500 : #f8f8f8,
600 : #f7f7f7,
700 : #f6f6f6,
800 : #f5f5f5,
900 : #f3f3f3,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$mat-mild-red: (50 : #ffe6e8,
100 : #fec2c5,
200 : #fe999e,
300 : #fd7077,
400 : #fc5159,
500 : #fc323c,
600 : #fc2d36,
700 : #fb262e,
800 : #fb1f27,
900 : #fa131a,
A100 : #ffffff,
A200 : #fff5f5,
A400 : #ffc2c3,
A700 : #ffa8aa,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));
