@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Avenir Next LT Pro';
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 460px;
  height: 650px;
  transform: translate-(50%, -50%);
  color: white;
  text-align: center;
  /* box-shadow: 5px 5px 15px 15px black; */
}

.textbox {
  width: 400px;
  /* height: 40px; */
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 10px auto;
}

.textbox input {
  border: none;
  outline: none;
  text-align: center;
  width: 90%;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000
}

a:hover {
  background: rgba(241, 239, 239, 0.25);
}

.btn {
  width: 360px;
  height: 40px;
  background: #3498db;
  border-radius: 10px;
  margin: 14px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
}

.hover-button {
  display: block;
  width: 360px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  margin: auto;
  transition: 0.4s all;
  color: #3498db;
}
