@import '~theme.scss';
/****** colors *******/

$red: mat-color($mat-red, 500);
$dark-burgundy: mat-color($mat-burgundy, 900);
$burgundy: mat-color($mat-burgundy, 500);
$light-burgundy: mat-color($mat-burgundy, 300);
$light-grey: mat-color($mat-light-grey, 500);
$mild-grey: mat-color($mat-light-grey, 200);
$icon-grey: mat-color($mat-dark-grey, 300);
$white: mat-contrast($mat-dark-grey, 400);
$grey: mat-color($mat-dark-grey, 400);
$milder-grey: mat-color($mat-mild-grey, 500);
$cian: mat-color($mat-cian, 500);
$dark-grey: mat-color($mat-dark-grey, 500);
$very-dark-grey: mat-color($mat-dark-grey, 600);
$icon-grey-light: mat-color($mat-dark-grey, 200);
$dark-grey-light: mat-color($mat-dark-grey, 100);
$dark-gery-highlight: mat-color($mat-dark-grey, 50);
$blue: mat-color($mat-blue, 500);
$green: mat-color($mat-green, 500);
$black: mat-color($mat-black, 500);
$light-black: mat-color($mat-black, 300);
$dark-black: mat-color($mat-black, 800);
$mild-black: mat-color($mat-black, 100);
$medium-grey: mat-color($mat-light-grey, 400);
$smoke-white: mat-color($mat-smoke-white, 500);
$mild-red: mat-color($mat-mild-red, 500);
$border-radius-lg: 8px;
$border-radius-md: 4px;
$border-radius-sm: 2px;
$padding-xxl: 40px;
$padding-xl: 30px;
$padding-lg: 20px;
$padding-md: 15px;
$padding-sm: 10px;
$padding-xs: 8px;
$padding-xxs: 5px;
$margin-xxxl: 60px;
$margin-xxl: 40px;
$margin-xl: 30px;
$margin-lg: 20px;
$margin-md: 16px;
$margin-sm: 10px;
$margin-xs: 8px;
$margin-xxs: 5px;
$icon-margin: 6px;
$no-margin-padding: 0;
$spinner-height: 10px;
$divider-height: 30px;
$manage-users-divider-height: 60px;
$border-bottom: 2px;
$font-size-base: 14px;
$font-size-md: ceil(($font-size-base * 1.14)) !default; // ~16px;
$font-size-lg: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-sm: ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-xl: ceil(($font-size-base * 1.5)) !default; // ~25px
$font-size-header-base: 24px;
$font-size-header-sm: ceil(($font-size-header-base * 0.85)) !default; // ~22px
$font-size-header-lg: ceil(($font-size-header-base * 1.25)) !default; // ~28px
$font-size-header-xl: ceil(($font-size-header-base * 2)) !default; // ~48px
$font-size-h1: 28px;
$widget-height: 250px;
$widget-min-width: 194px;
$small-widget-height: 219px;
$widget-header-height: 48px;
$widget-footer-height: 57px;
$widget-content-height: 120px;
$mat-card-content-height: 257px;
$list-item-height: 60px;
$user-profile-img-lg: 100px;
$user-profile-img-md: 80px;
$user-profile-img-sm: 50px;
$font-width-sm: 14px;
$tab-height: 40px;
$select_box_width: 50px;
$mat-toolbar-height: 80px;
$sidenav-margin-top: 70px;
$sidenav-margin-left: 68px;
$sidenav-content-margin-left: 65px;
$sidenav-container-margin-left: 190px;
$sidenav-width-md: 175px;
$round-progress-width: 90px;
$message-box-top: 110px;
$message-box-button-height: 56px;
$message-box-card-width: 180px;
$expansion-panel-header-padding:30px;
$login-mat-card-height: 480px;
$login-mat-card-width: 400px;
$message-box-z-index: 9999;
$expansion-panel-header-padding: 30px;
$sidenav-vertical-divider-width: 7px;
$mat-form-field-underline-height: 140px;
$mat-divider-vertical-height: 60px;
$table-content-margin-left: 24px;
$device-xs: 576px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;
$button-border-radius: 50px;
$user-profile-img-radius: 75px;
$mat-card-border-radius: 6px;
$mat-mini-fab-size: 46px;
$mat-xsmall-fab-size: 36px;
$mat-badge-content: 11px;
$header-icon-container: 32px;
$mat-divider-height: 40px;
$mat-dialog-height: 75vh;
$mat-dialog-width: 60vw;
$dialog-content-height: 50vh;
$dialog-container-min-width: 30vw;
$dialog-container-width: 40vw;
$bulk-upload-card-border: 1px;
$login-margin: 50px;
$login-height: 100vh;
$login-width: 100vw;
$icon-height-width: 25px;
$bulk-upload-card-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
0px 4px 5px 0px rgba(0, 0, 0, 0.14),
0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$mat-menu-content-height-s: 200px;
$mat-menu-content-width-s: 200px;
$mat-menu-content-height-m: 300px;
